# Useless files
*.pyc
*.log

 
# Settings !IMPORTANT!
BotAssistant/settings/settingDatabase.py
BotAssistant/settings/settingToken.py


# All addons
BotAssistant/addons/JoinRole/
BotAssistant/addons/ReactionRole/
BotAssistant/addons/LevelSystem/
BotAssistant/addons/Soundplay/
BotAssistant/addons/Announcements/
BotAssistant/addons/Votes/
BotAssistant/addons/Moderator/
BotAssistant/addons/Traductor/
BotAssistant/addons/AutoChannels/
# BotAssistant/addons/TicketManager/

# Dev Tools
BotAssistant/addons/-Tests/
updateAddons.py
