*.pyc
*.log
BotAssistant/settings/settingDatabase.py
BotAssistant/settings/settingToken.py
BotAssistant/settings/settingColors.py
BotAssistant/addons/joinrole/
BotAssistant/addons/reactionrole/
BotAssistant/addons/levelSystem/
BotAssistant/addons/soundplay/